mixin completed(index, isLastLevel)
  .completed
    if isLastLevel
      .title Well done!<br> You completed all levels!
      a.restart(href='./index.html') restart
    else
      .title!= 'level ' + index + ' complete!'
      +rules()
      +resultLabel('result' + index)


