// welcome styles
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.welcome {
  display: block;
  width: 100vw;
  height: 100vh;
  min-width: 1300px;
  min-height: 800px;
  background-color: #fff;
  position: absolute;
  left: calc((1000px - 100vw) / 2);
  left: 0;
  top: 0;
  z-index: 999;
  transition: all 0.4s ease-out;

  input[name='welcome'][value='1']:checked ~ & {
    background-color: transparent;
    pointer-events: none;
  }

  .welcome-title {
    font-size: 150px;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    transition: all 0.3s ease-out;
    color: #333;
    animation-name: appear;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in;

    input[name='welcome'][value='1']:checked ~ & {
      transform-origin: 0 0;
      transform: translate(-592px,-289px) scale(0.24);
      animation-name: disappear;
      animation-duration: 0.01s;
      animation-delay: 0.3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }

  label.info,
  label.start {
    position: absolute;
    top: 650px;
    left: 50%;
    transform: translateX(calc(-50% + 150px));
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
    cursor: $cursorCircleHover;
    transition: all 0.3s ease-out;
    animation-name: appear;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in;

    .game:hover ~ & {
      opacity: 0;
      visibility: hidden;
    }

    input[name='welcome'][value='1']:checked ~ & {
      color: #999;
      //transform: translateX(-50%) scale(0);
      opacity: 0;
      visibility: hidden;
    }
  }

  label.info {
    transform: translateX(calc(-50% - 150px));
  }
}
