mixin welcome()
  input(type='radio', name='welcome', value=0, checked)
  input(type='radio', name='welcome', value=1, id='welcome')
  .welcome
    .welcome-title hoverGame
    label(for='welcome') start
