// Normalize Styles
@import 'node_modules/normalize.css/normalize';

$cursorCircle: url('../images/circle-gray.png') 10 10, crosshair;
$cursorCircleHover: url('../images/circle-dark-gray.png') 10 10, crosshair;

// Import Modules
@import '../_modules/level/level';
@import '../_modules/point/point';
@import '../_modules/result/result';
@import '../_modules/welcome/welcome';
@import '../_modules/gameover/gameover';
@import '../_modules/completed/completed';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  cursor: $cursorCircle;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 800px;
}

input {
  display: none;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.container {
  display: flex;
  justify-content: center;
  min-width: 1300px;
}

.left-column {
  border-left: 1px solid #999;
  width: 300px;
  flex-shrink: 0;
}

.game {
  position: relative;
  width: 1000px;
  height: 600px;
  flex-shrink: 0;

  &::after {
    content: '';
    position: absolute;
    border: 30px solid transparent;
    border-bottom-color: #999;
    left: calc(50% - 30px);
    top: calc(100% - 20px);
    pointer-events: none;
    transition: all 0.3s;
    animation-name: bounce;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  }

  &:hover::after {
    border-bottom-color: transparent;
  }
}

.settings-label {
  cursor: $cursorCircleHover;
}

.game-title {
  font-size: 36px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #333;
  flex-shrink: 0;

  //@media (max-width: 1439px) {
  //  display: none;
  //}
  //
  //@media (max-height: 820px) {
  //  display: none;
  //}
}
