mixin level1(spec)

  div(class=spec)
    .block1
    .block2
    .block3
    .block4
    .block5
    .block6
    .block7
    .block8
    .block9
    //.block10 10
    +points('1')


    .results
      .title Game Over
      a.nextLevel
      a.restart(href='/') restart
